# Compiled class files
*.class
out/
build/
target/

# JAR files (keep Lanterna dependency)
*.jar
!lanterna-3.1.1.jar

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

### IntelliJ IDEA ###
.idea/
*.iml
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.swp
*.swo
*~

### Mac OS ###
.DS_Store

# Logs
*.log

# Package Files
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*
replay_pid*